/* @import "compass/css3"; */
/* @import './compass/css3.css'; */

input.form-control {
    width: 50%;
}

div.input-group-text {
    margin-left: 10px;
}

button.btn {
    width: 25%;
}

button.extend {
    margin: 15px 0;
    width: 40%;
}

#btn-wrapper {
   text-align: center; 
   padding-top: 30px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

  /* thermometer */



body {
  font-family: Helvetica; 
}

.donation-meter {
  margin-left: 30px;
  width: 100px;
  
}

.glass {
  background: #e5e5e5;
  border-radius: 100px 100px 0 0;
  display: block;
  height: 300px;
  margin: 0 35px 10px;
  padding: 5px;
  position: relative;
  width: 20px;
}
.amount {
  background: #f34e54;
  border-radius: 100px;
  display: block;
  width: 20px;
  position: absolute;
   bottom: 5px;
}
strong { display: block; text-align: center; }
.goal {
  font-size: 30px;
}
.total {
  font-size: 16px;
  position: absolute;
  right: 35px;
}

.bulb {
  background: #e5e5e5;
  border-radius: 100px;
  display: block;
  height: 50px;
  margin: 0 35px 10px;
  padding: 5px;
  position: relative;
    top: -20px;
    right: 15px;
  width: 50px;
 
}

.red-circle {
  background: #f34e54;
  border-radius: 100px;
  display: block;
  height: 50px;
  width: 50px;
}
.filler {
  background: #f34e54;
  border-radius: 100px 100px 0 0;
  display: block;
  height: 30px;
  width: 20px;
  position: relative;
    top: -65px;
    right: -15px;
  z-index: 30;
}